body{
    /* background-color: rgb(35, 64, 35); */
    background: url(station.jpg);
    background-size: cover;
    font-weight: bold;
    font-family: 'Trebuchet MS',Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(249, 249, 249);
    font-size: 35px;
    margin: 0px;
}

h1 {
    color: goldenrod;
}


#message-el {
    font-style: italic;
}

button {
    color: #ececec;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
}